@page "{EmployeeId}"
@model EmployeeAttendanceModel
@{
    ViewData["Title"] = "Attendance";
}

<div class = "box-border px-5 pt-5 d-flex align-items-center justify-content-center w-100 h-100 flex-column">
    @{
        <div class = "card-header w-50 d-flex justify-content-between core-color text-white">
            <h3 class = "m-0 pointer" onclick = "back()">@String.Format("<-")</h3>
            <h3 class="text-center m-0" id="monthAndYear"></h3>
            <h3 class = "m-0 pointer" onclick = "next()">@String.Format("->")</h3>
        </div>
        <table class = "table w-50 h-50 m-0 table-bordered">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody id = "calendar-body">

            </tbody>
        </table>
    }
</div>

<script src = "/js/calendar.js"></script>