html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.box-sizing {
    box-sizing: border-box;
}

/* Landing page */
.background {
    z-index: -10;
    width: 100vw;
    height: 100vh;
}

.wave {
    width: 100%;
}
.wave#waves {
    bottom: 0;
}

.img-60 {
    width: 60%;
}

.core-color {
    background-color: #ff9900 !important;
}

.form-custom {
    width: 425px !important;
}

.sidebar-link {
    box-sizing: border-box;
}

.sidebar-logout-link {
    bottom: 10%;
}

.no-corner {
    border-radius: 0 !important;
}

@media only screen and (max-width: 950px) {
    .sidebar {
        position: absolute !important;
        height: 100vh;
        left: -360px;
    }
}
@media only screen and (min-width: 1367px) {
    .img-60 {
        width: 75%;
    }
}