@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class = "w-100 h-100 d-flex justify-content-center align-items-center">
    <form method = "post" class = "text-center">
        <h1 class = "h1">Are you sure?</h1>
        <button type="submit" class = "btn btn-primary me-2">Yes</button>
        <a href = "/" class = "btn text-white core-color ms-2">No</a>
    </form>
</div>